<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css" />
    <script src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
    <meta charset="utf-8">
</head>
<body>
<div class="top-title">
    <h2>
        读书记录系统
    </h2>
</div>
<div class="content">
    <table class="log-list" cellpadding="0" cellspacing="0">
        <thead>
        <th>书名</th>
        <th>本次时长</th>
        <th>收获</th>
        <th>下次计划时长</th>
        <th>上次计划时长</th>
        </thead>
        <tbody>
        <foreach name="records" item="record">
            <td>{$record['book_name']}</td>
            <td>{$record['read_time']}</td>
            <td>{$record['harvest']}</td>
            <td>{$record['next_plan']}</td>
            <td>{$record['book_name']}</td>
        </foreach>
        </tbody>
    </table>
    <div class="result page">{$page}</div>
</div>
</body>
<script>

</script>
</html>